/* Make something awesome! */

/* Thumbnails and Pictures */
#university-logo {
  padding-top: 0.2em;
  width: 170px;
  padding-right: 0em;
}
#university-shield {
  width: 30px;
}
#university-link {
  padding-top: 0px;
  padding-bottom: 0px;
}
.team-list .thumbnail, 
.team-list .caption, 
.lesson-plan .thumbnail, 
.lesson-plan .caption, 
.how-it-works .thumbnail {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.profile-picture {
  width: 135px;
  height: 135px;
  border-radius: 1000px;
}
.thumbnail {
  border-style: none;
}
.lesson-plan img {
  width: 35em;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}
.app-screenshot {
  width: 350px;
}
.tilak-description {
  margin-bottom: 0.3em;
}
.tilak-description img {
  margin-right: 0px;
  vertical-align: middle;
}

/* Links */
p a:hover, p a:active, 
.media-heading a:hover, 
.media-heading a:active {
    color: #725EAB;
}

/* Nav Bar */
.navbar-top {
  background-image: linear-gradient(to bottom, #FDBA13 100%, #f8f8f8 100%);
  margin-bottom: 0;
  border-color: transparent;
}
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #EDAE11 100%, #e2e2e2 100%);
  color: #f5f5f5;
}
.navbar-top .navbar-brand {
  color: #fff;
}
.navbar-top .nav > li > a {
  color: #fff;
}
.navbar-top .fa {
	font-size: 25px;
}

@media (max-width: 767px) { 
  .navbar-top .navbar-right {
      float: right;
      padding-right: 15px;
  }
  .navbar-top .nav.navbar-nav.navbar-right li {
      float: right;
  }
  .navbar-top .nav.navbar-nav.navbar-right li > a {
      padding:5px 8px;
  }
  .navbar-top .navbar-toggle {
      float: left
  }
  .navbar-top .navbar-header {
      float: left;
      width: auto!important;
  }
  .navbar-top .navbar-collapse {
      clear: both;
      float: none;
  }
}

/* Sign in / Join */
#login-dropdown-list > .dropdown-toggle {
	color: #fff;
}

/* Footer */
/*.navbar-fixed-bottom {
  text-align: center;
  margin-top: 1em;
}
.navbar-fixed-bottom > .container {
  margin-top: 1em;
}*/

/* Welcome Page */
.jumbotron {
  background-color: #A6A6DE;
}
  
/* Main part of body */
.main {
  /* padding-bottom: 4em; */ /* pad content from footer */
  padding-top: 1em;
}



/* Lesson buttons */
.btn-lesson {
  white-space: normal;
  max-width: 90%;
  text-align: left;
  color: black;
}
/*.lesson-title {
  color: #887BB6;
}*/

/* Sets list */
#accordion > .panel > .panel-collapse > .panel-body {
  padding: 0.5em 0;
}

/* Play word buttons */
.ul-word  {               /* also works with ol */
    width: 100%;          /* or your desired width */
    text-align: center;   /* this will center the list items */
    /*min-height: 18.25em;*/
    margin: 0 0;
}

.li-word {
  width: 45%;
  margin: 0.5em 0;
}

.glyphicon-play-circle {
  color: #7F7FB3;
}

.btn-word {
  background-color: #FFFCF6;
  border: solid 2px black;
  /*border-radius: 0;  sharp corners */
  white-space: normal; /* handling text overflow */
  width: 100%;
  height: 5em;
  border: 2px black solid;
  /* add shadow */
  -webkit-box-shadow: 0.2em 0.3em 0 rgba(4, 4, 4, 0.3);
  -moz-box-shadow:    0.2em 0.3em 0 rgba(4, 4, 4, 0.3);
  box-shadow:         0.2em 0.3em 0 rgba(4, 4, 4, 0.3);
}

.btn-word:active {
  margin-top: 0.3em;
  margin-bottom: -0.3em;
  margin-left: 0.2em;
  margin-right: -0.2em;
}

/* Word group menu */
.btn-word-group {
  border-radius: 24px;
}

.btn-word-group.active {
  color: #7F7FB3;
  background-color: #FFFCF6;
  border: #7F7FB3 solid 2px;
}

/* Sound settings menu */
.play-menu {
  background-image: linear-gradient(to bottom, #FDBA13 100%, #f8f8f8 100%);
  width: 100%;
}

@media (max-width: 767px) and (min-height: 600px) {
  .play-menu > div {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .play-menu > div {
    background-image: linear-gradient(to bottom, #FDBA13 100%, #f8f8f8 100%);
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .word-show {
    padding-bottom: 55px; /* might want to use em units instead */
  }
}

.play-menu > div > div {
  vertical-align: top;
}

.next-quiz, 
.next-word-group, 
.previous-word-group, 
.btn-play-modal {
  background-color: transparent;
  border: none;
  color: #7F7FB3;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}
.next-quiz > h2, 
.next-word-group > h2, 
.previous-word-group > h2, 
.btn-play-modal > h2 {
  margin: 0 0;
}

.play-menu > div > div > button:active {
  color: rgba(136, 123, 182, 0.5);
  text-shadow: 1px 4px 6px #FDBA13, 0 0 0 #000,1px 4px 6px #FDBA13;
}

.word-group {
  padding-top: 1.7em;
}


/* Quiz play button */
.btn-play-quiz {
  font-size: 5em;
  background-color: transparent;
  border-color: transparent;
  text-shadow: 0.02em 0.03em 0 rgba(4, 4, 4, 0.3);
}

.btn-play-quiz:active {
  -webkit-box-shadow: none;
  box-shadow:         none;
  text-shadow:        none;
  margin-top: 0.03em;
  margin-bottom: -0.03em;
  margin-left: 0.02em;
  margin-right: -0.02em;
}

/* Buttons */
.btn:focus, .btn:active:focus,
button:focus, button:active:focus {
  outline: none;
}
